- @plays.reverse_each do |play|
  %ul.col-xs-12.col-sm-6.col-md-4.col-lg-4.play-time
    %li
      = link_to play_path(play), class: 'col-xs-12 play-title' do
        %h2
          = play.title
      - unless play.banner.empty?
        = image_tag "#{play.banner}"
      - else
        %iframe{:src => "#{play.image_1}"}
