.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      %h4 Work
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      %a{:href => "mailto:hello@fcflamingo.com"}
        .btn.btn-default.pull-right
          Request Portfolio
%br
.row
  .col-xs-12
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "http://www.wondros.com/", target:  "_blank"}
        .work-title
          %h2 Website
        = image_tag "wonderos.jpg"
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "http://kanyewet.biz/", target:  "_blank"}
        .work-title
          %h2 Website
        = image_tag "wet.jpg"
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "http://warmbrewla.com/ghetto-beach-boyz/", target:  "_blank"}
        .work-title
          %h2 Website
        = image_tag "warmbrew.jpg"
.row
  .col-xs-12
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "www.theeraagency.com", target:  "_blank"}
        .work-title
          %h2 Website
        = image_tag "theeraagency.jpg"
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "http://seavsllc.com/", target:  "_blank"}
        .work-title
          %h2 Website
        = image_tag "seabury.jpg"
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "https://instagram.com/rooftopsnyc/", target:  "_blank"}
        .work-title
          %h2 Consulting
        = image_tag "rooftopsnyc.jpg"
.row
  .col-xs-12
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "http://dailyjournal.com/public/pubmain.cfm?logout=&seloption=&eid=&vid=&CFID=14445489&CFTOKEN=41226735", target:  "_blank"}
        .work-title
          %h2 Website
        = image_tag "djc.jpg"
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "http://www.portertjones.com/", target:  "_blank"}
        .work-title
          %h2 Consulting
        = image_tag "ptj.jpg"
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "http://www.blackwellrum.com/", target:  "_blank"}
        .work-title
          %h2 Website
        = image_tag "blackwell.jpg"
.row
  .col-xs-12
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "http://www.pinerock.com/", target:  "_blank"}
        .work-title
          %h2 Consulting
        = image_tag "pinerock.jpg"
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "http://www.pfizer.com/", target:  "_blank"}
        .work-title
          %h2 Consulting
        = image_tag "pfizer.jpg"
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "http://notmad.us/#", target:  "_blank"}
        .work-title
          %h2 Website
        = image_tag "notmad.jpg"
.row
  .col-xs-12
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "http://www.myyoungauntie.com/", target:  "_blank"}
        .work-title
          %h2 Consulting
        = image_tag "myyoungauntie.jpg"
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "http://markmml.com/", target:  "_blank"}
        .work-title
          %h2 Website
        = image_tag "markmml.jpg"
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "http://americankaleassociation.net/", target:  "_blank"}
        .work-title
          %h2 Website
        = image_tag "kale.jpg"
.row
  .col-xs-12
    .col-xs-12.col-sm-12.col-md-4.col-lg-4.work-time
      %a{:href => "http://www.hancholo.com/", target:  "_blank"}
        .work-title
          %h2 Consulting
        = image_tag "hancholo.jpg"
