.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      %a{:href => "mailto:hello@fcflamingo.com"}
        .btn.btn-default.pull-right
          Request Portfolio
%br
.row
  .col-xs-12
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "wonderos.jpg"
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "wet.jpg"
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "warmbrew.jpg"
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "theeraagency.jpg"
.row
  .col-xs-12
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "seabury.jpg"
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "rooftopsnyc.jpg"
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "djc.jpg"
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "ptj.jpg"
.row
  .col-xs-12
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "blackwell.jpg"
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "pinerock.jpg"
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "pfizer.jpg"
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "notmad.jpg"
.row
  .col-xs-12
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "myyoungauntie.jpg"
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "markmml.jpg"
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "kale.jpg"
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.work-time.no-padding
      = image_tag "hancholo.jpg"
