!!!
%html
  %head
    = render 'layouts/flamingo_sig'
    %title
      FLAMINGO
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png'
    %link{:href => "http://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700", :rel => "stylesheet", :type => "text/css"}/
  %body

    - if controller?("home") && action?("home")
      %header#homeNav
        = render 'common/nav'
    - else
      %header
        = render 'common/nav'

    .container-fluid.buffer-vertical
      - flash.each do |message_type, message|
        %div{:class => "alert alert-#{message_type}"}= message
      = yield

      -#for testing
      -#= debug(params) if Rails.env.development?
